In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ------------------------------------- 281.4/281.4 MB 12.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ---------------------------------------- 199.7/199.7 kB ? eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d667bc21da0e567bcf110dde313f11d997c173818c733144cb0bbca58e250614
  Stored in directory: c:\users\mural\appdata\local\pip\cache\wheels\51\c8\18\298a4ced8ebb3ab8a7d26a7198c0cc7035abb906bde94a4c4b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [27]:
from pyspark.sql.functions import *

In [6]:
spark = SparkSession.builder.appName('Problem3').getOrCreate()

In [11]:
df = spark.read.option('header','false').csv('D:\Acadamics WPI\CS585 Big Data Management\Project 2\Transactions.csv',inferSchema=True)

In [12]:
df.show()

+---+---+---------+---+--------------------+
|_c0|_c1|      _c2|_c3|                 _c4|
+---+---+---------+---+--------------------+
|  1|  1|705.72736|  8|IiBvLScnYtaLgtwzL...|
|  2|  2| 816.9572|  8|VQTCgKqGPQdHdwRFz...|
|  3|  3|176.21866|  4|bdGJjLbaLAFggBmmM...|
|  4|  4| 304.8461|  8|JKogNbXDBmtVdkuui...|
|  5|  5| 279.5298|  1|rdPqMyMUlncnQHdMr...|
|  6|  6| 669.3279|  1|CqUydTbAExwUXnluL...|
|  7|  7|998.74567|  1|YHSUDuReQpYHHHbuG...|
|  8|  8|447.03073|  7|TtbxKBQLpxwBfGVOZ...|
|  9|  9|81.021065|  7|wDHRKoDeXTdTNRQda...|
| 10| 10|387.45612|  9|YJAAGruWJykyQUUYK...|
| 11| 11|838.51074|  5|eEhoLdYXiToLyzvag...|
| 12| 12|765.49005|  5|sGlrLfSzYcRruRcpo...|
| 13| 13|442.60776|  7|wvbYObWCzrfRLYLeq...|
| 14| 14|147.89975|  3|AVbmFRatjIjNXudHX...|
| 15| 15|97.602615|  7|cgrJDKiDgfPqkRmlz...|
| 16| 16|  584.431|  6|ZFnPyAFyGkczXzxRS...|
| 17| 17|586.54364|  8|uBcrSKVcmLsxDDpdS...|
| 18| 18| 659.2834| 10|psvCvwlPsdfmcOXNn...|
| 19| 19|64.592964|  5|SnwVRYgPrYYVYlyAa...|
| 20| 20| 278.5204|  3|EUJILaYCgvMiIRpAk...|
+---+---+---------+---+--------------------+
only showing top 20 rows

In [17]:
df = df.withColumnRenamed('_c0','TransID')
df = df.withColumnRenamed('_c1','CustID')
df = df.withColumnRenamed('_c2','TransTotal')
df = df.withColumnRenamed('_c3','TransNumItems')
df = df.withColumnRenamed('_c4','TransDesc')

In [18]:
df.printSchema()

root
 |-- TransId: integer (nullable = true)
 |-- CustID: integer (nullable = true)
 |-- TransTotal: double (nullable = true)
 |-- TransNumItems: integer (nullable = true)
 |-- TransDesc: string (nullable = true)

In [36]:
df.createOrReplaceTempView("Transactions")

In [38]:
# T1
T1 = spark.sql("SELECT * FROM Transactions WHERE TransTotal>=200")
T1.show()
T1.createOrReplaceTempView("T1")

+-------+------+----------+-------------+--------------------+
|TransId|CustID|TransTotal|TransNumItems|           TransDesc|
+-------+------+----------+-------------+--------------------+
|      1|     1| 705.72736|            8|IiBvLScnYtaLgtwzL...|
|      2|     2|  816.9572|            8|VQTCgKqGPQdHdwRFz...|
|      4|     4|  304.8461|            8|JKogNbXDBmtVdkuui...|
|      5|     5|  279.5298|            1|rdPqMyMUlncnQHdMr...|
|      6|     6|  669.3279|            1|CqUydTbAExwUXnluL...|
|      7|     7| 998.74567|            1|YHSUDuReQpYHHHbuG...|
|      8|     8| 447.03073|            7|TtbxKBQLpxwBfGVOZ...|
|     10|    10| 387.45612|            9|YJAAGruWJykyQUUYK...|
|     11|    11| 838.51074|            5|eEhoLdYXiToLyzvag...|
|     12|    12| 765.49005|            5|sGlrLfSzYcRruRcpo...|
|     13|    13| 442.60776|            7|wvbYObWCzrfRLYLeq...|
|     16|    16|   584.431|            6|ZFnPyAFyGkczXzxRS...|
|     17|    17| 586.54364|            8|uBcrSKVcmLsxDDpdS...|
|     18|    18|  659.2834|           10|psvCvwlPsdfmcOXNn...|
|     20|    20|  278.5204|            3|EUJILaYCgvMiIRpAk...|
|     22|    22|  833.0222|            9|mMrkTYYqNOlqMcTiN...|
|     23|    23| 565.34393|            2|mYRDdpgtEqGFjFhYg...|
|     24|    24| 536.58563|            7|nYXTJxCbvoJjFTSwV...|
|     26|    26| 460.59375|            7|vefGzFjxTBNyDnsCV...|
|     27|    27| 205.28831|            3|fvcnmMtkemACTYGHP...|
+-------+------+----------+-------------+--------------------+
only showing top 20 rows

In [43]:
# T2
T2 = spark.sql("SELECT TransNumItems, MIN(TransTotal) As Min, Max(TransTotal) As Max, AVG(TransTotal) as AverageTotal FROM T1 GROUP BY TransNumitems")
T2.show()
T2.createOrReplaceTempView("T2")

+-------------+---------+----------+-----------------+
|TransNumItems|      Min|       Max|     AverageTotal|
+-------------+---------+----------+-----------------+
|            1|200.00201|1000.99963|600.6975258443335|
|            6|200.00002| 1000.9973|600.4016342750211|
|            3|200.00038| 1000.9982|599.8147830360873|
|            5|200.00053|1000.99585|600.4341447166371|
|            9|  200.003| 1000.9989|600.5540300106376|
|            4|200.00154|    1001.0|600.4196428638362|
|            8|200.00656| 1000.9999|600.4962424765906|
|            7|200.00629|1000.99664|600.4110138265504|
|           10| 200.0014|1000.99774|600.3107869375992|
|            2|200.00095| 1000.9995|600.0706089062178|
+-------------+---------+----------+-----------------+

In [49]:
#T3
T3 = spark.sql("SELECT CustID, COUNT(*) as TransCount FROM T1 GROUP BY CustID")
T3.show()
T3.createOrReplaceTempView("T3")

+------+----------+
|CustID|TransCount|
+------+----------+
|   148|        82|
|   463|        77|
|   471|        76|
|  1088|        81|
|  1238|        74|
|  1580|        76|
|  1591|        83|
|  1645|        86|
|  1829|        73|
|  1959|        86|
|  2122|        85|
|  2142|        83|
|  2366|        83|
|  2659|        80|
|  2866|        84|
|  3175|        82|
|  3749|        74|
|  3794|        87|
|  3918|        77|
|  4101|        83|
+------+----------+
only showing top 20 rows

In [50]:
#T4
T4 = spark.sql("SELECT * FROM Transactions WHERE TransTotal>600")
T4.show()
T4.createOrReplaceTempView("T4")

+-------+------+----------+-------------+--------------------+
|TransId|CustID|TransTotal|TransNumItems|           TransDesc|
+-------+------+----------+-------------+--------------------+
|      1|     1| 705.72736|            8|IiBvLScnYtaLgtwzL...|
|      2|     2|  816.9572|            8|VQTCgKqGPQdHdwRFz...|
|      6|     6|  669.3279|            1|CqUydTbAExwUXnluL...|
|      7|     7| 998.74567|            1|YHSUDuReQpYHHHbuG...|
|     11|    11| 838.51074|            5|eEhoLdYXiToLyzvag...|
|     12|    12| 765.49005|            5|sGlrLfSzYcRruRcpo...|
|     18|    18|  659.2834|           10|psvCvwlPsdfmcOXNn...|
|     22|    22|  833.0222|            9|mMrkTYYqNOlqMcTiN...|
|     33|    33| 763.04846|            5|IyOWroOYGUJIXpLJB...|
|     35|    35|  916.9663|            7|zJadpgvTMDbScwqyv...|
|     41|    41|   677.482|            4|phAFEURrmpwkbtxeH...|
|     42|    42| 787.64264|            4|DIVbaTIhkqOhVOPHz...|
|     45|    45| 632.58484|            3|nTECtynjQMGPEMeqX...|
|     46|    46|  658.2769|           10|mopvtyLmbQcMuInmS...|
|     48|    48|  850.5452|            2|TVczkknSzlmjDBaXA...|
|     50|    50| 965.36584|            2|eiAOtCXsiXuxeAcMJ...|
|     52|    52| 764.26117|            5|uMOqtwPUDmIsSYRaO...|
|     55|    55| 835.81506|            6|YHZQKgFUHBvrNdCMuoWQ|
|     56|    56| 859.24786|            3|eZhMwVmxALZoyheCQ...|
|     57|    57| 811.30756|            3|LsdoTaljHBHRQmHlV...|
+-------+------+----------+-------------+--------------------+
only showing top 20 rows

In [52]:
#T5
T5 = spark.sql("SELECT CustID, COUNT(*) as TransCount FROM T4 GROUP BY CustID")
T5.show()
T5.createOrReplaceTempView("T5")

+------+----------+
|CustID|TransCount|
+------+----------+
|  1238|        37|
|  1645|        53|
|  1959|        39|
|  2866|        37|
|  3175|        41|
|  4101|        42|
|  4818|        32|
|  6357|        38|
|  6620|        46|
|  6658|        47|
|  7253|        36|
|  7554|        34|
|  7880|        47|
|  7982|        49|
|  8389|        32|
|  8592|        31|
|  9376|        42|
|  9900|        45|
| 10206|        43|
| 10623|        49|
+------+----------+
only showing top 20 rows

In [56]:
#T6
T6 = spark.sql("SELECT T5.CustID, COUNT(*) as TransCount FROM T3, T5 WHERE T3.TransCount > T5.TransCount * 5 GROUP BY T5.CustID")
T6.show()

+------+----------+
|CustID|TransCount|
+------+----------+
+------+----------+